@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar{
    visibility: hidden;
}

.roll-back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
    width: 100%;

    a {
        text-decoration: none;
        color: white;
    }

    .roll-back-btn {
        background-color: #846FB0;
    }

    .items {
        p{
            margin: 0;
        }
    }

    .content-wrap{
        display: flex;
        flex: 1;
    }
    
}

.carrinho {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}